* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: darkgray;
}

.boxed {
    border-radius: 25px;
    background: lightgray;
    padding: 20px;
    width: 900px;
    height: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 5px 5px cadetblue;
}

#count {
    text-align: right;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 80px;
}

h1 {
    text-shadow: 2px 2px cadetblue;
}

p {
    margin: 70px;
    font-size: x-large;
    font-weight: bolder;
}

h1,
p {
    margin: 30px;
    text-align: center;
    align-content: center;
}


/* start button */

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    background-color: black;
    color: cadetblue;
    font-weight: bold;
    width: 90px;
    height: 40px;
}

.start-btn:hover {
    border-color: blueviolet;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#answer-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

#answer-button {
    border-color: blueviolet;
}

#submit-initials {
    margin: none;
}

#score {
    margin-left: 39%;
}


/* hide beginning layout design */

.hide {
    display: none;
}


/*hide question */

.question-container {
    display: none;
}


/* hide code quiz and <p> */

.beginning-layout {
    display: none;
}

.high-scorer {
    display: none;
}